* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #e0e1e5;
}

nav {
    padding: 15px 20px 15px 20px;
    background-color: #5869c9;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 10px grey;
}

.nav-name {
    font-size: 17px;
}

.nav-time {
    margin-left: auto;
}


.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 70px;
    /* background-color: transparent; */
}


/* modal popup */

.modal-container {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    /* transition-property: display;
    transition-duration: 0.5s;
    transition-timing-function: linear; */
}

.modal-box {
    background-color: white;
    margin: 2% 30% 98% 30%;
    padding: 20px;
    border-radius: 7px;
}

@media screen and (max-width: 800px) {
    .modal-box {
        background-color: white;
        margin: 5% 5% 98% 5%;
        padding: 20px;
        border-radius: 7px;
    }
}

.modal-text {
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.modal-text-txt {
    font-size:larger;
    font-weight: bold;
}

.modal-text-txt {
    font-size:larger;
    font-weight: bold;
}

.modal-text-close {
    /* padding: 10px 15px; */
    padding: 0px 15px 0px 15px;
    margin-left: auto;
}

.modal-msg {
    font-size:medium;
    border-bottom: 1px solid silver;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-btn {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}


/* login code start here */
.login-container {
    margin: 140px 20% 0px 20%;
    background-color: white;
    border-radius: 7px;
}

.login-container-text {
    /* display:inline; */
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid silver;
}


.login-container-form {
    padding: 10px 30px 35px 30px;
}

.form-field {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px
}

.form-field > input {
    width: 90%;
    height: 40px;
}


/* .form-radio-field-center {
    
} */

.form-radio-field {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 2px solid blueviolet;
    border-radius: 5px;
    margin: 0px 50% 10px 50%;
    transform: translate(-50%, 0%);
    
}

.form-radio-field > input {
    display: none;
}

.form-radio-field > label {
    padding: 10px 20px 10px 20px;
    border-right: 1px solid #ccc;
}

.form-radio-field input:checked + label{
    background: #becbff;
}

.login-btn-container {
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.login-btn {
    align-items:flex-end;
    padding: 10px 30px 10px 30px;
    background-color: rgb(39, 123, 115);
    border-radius: 5px;
    width: 100%;
}

.login-btn {
    text-decoration: none;
    color: white;
}

.login-btn:hover {
    background-color: white;
    color: #248077;
    border: 2px solid #40e0d0;
}

footer {
    margin: 9px 30% 80px 30%;
    /* margin-top: 450px; */
    text-align: center;
}

.bi {
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 800px){
    .login-container {
        margin: 190px 5% 0px 5%;
    }

    .nav-name {
        font-size: 14px;
    }

    .login-txt::after {
        content: "(android)";
        font-size: 14px;
    }
    .form-field-icon {
        display: none;
    }

    footer {
        margin: 90% 30% 80px 30%;
        text-align: center;
    }

}