.btn-primary {
    background-color: #0062cc;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 7px;
}

.btn-secondary {
    background-color: #585f63;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 7px;
}

.btn-succes {
    background-color: #208637;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 7px;
}

.btn-danger {
    background-color: #a51d2a;
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 7px;
    /* margin-left: 100%; */
    /* transform: translateX(-95px); */
}

.btn-expanded {
    width: 100%;
}